@import '~loaders.css/src/animations/ball-beat.scss';

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;

  & > p {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

.ball-beat > div {
  width: 15px;
  height: 15px;
  background-color: var(--accent-primary);
}
