.view {
  height: 100vh;

  &-container {
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px;
  }
}

.square {
  max-height: 280px;
  overflow: auto;
  padding: 20px;
  border: 1px solid var(--neutral-placeholder);
}

.long {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--neutral-placeholder);
}
