<ul
  class="posts"
  *ngIf="postService.posts$ | async as posts; else loading"
>
  <ng-container
    *ngIf="posts.length; else placeholder"
  >
    <li
      class="post"
      *ngFor="let post of posts"
    >
      <div class="post__content">
        <div class="post__header">
          <h3>{{ post.title | titlecase }}</h3>
          <p>{{ post.date | date }}</p>
        </div>
        <div class="post__text">
          <p>{{ post.text | cutText:100 }}</p>
        </div>

        <ng-container *ngIf="post.tags">
          <div class="post__namespace">
            Tags:
          </div>
          <ul class="post__tags">
            <li
              class="post__tags-tag"
              *ngFor="let tag of post.tags"
            >{{ tag | titlecase }}</li>
          </ul>
        </ng-container>
      </div>
      <div class="post__image">
        <img
          [src]="post.image"
          [alt]="post.title"
          *ngIf="post.image"
        >
        <i
          class="fas fa-image"
          *ngIf="!post.image"
        ></i>
      </div>
    </li>

    <li class="action">
      <button
        class="btn btn-invert"
        (click)="postService.deletePosts()"
      >
        🗑️ Delete all posts
      </button>
    </li>
  </ng-container>

  <ng-template #placeholder>
    <p class="placeholder">No posts available...</p>
  </ng-template>
</ul>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
