@use './assets/styles/reset.scss';
@use './assets/styles/vars.scss';
@use './assets/styles/button.scss';
@use './assets/styles/input.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--fsize);
}

.container {
  height: 100%;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}

.display {
  padding-top: 10px;
}

.title {
  font-weight: 600;
  border-bottom: 1px solid var(--neutral-placeholder);
  padding-bottom: 10px;

  &.border-none {
    border: none;
  }
}

.item {
  padding: 20px;
  border: 1px solid var(--neutral-placeholder);
  color: var(--default-color);
  margin-bottom: 20px;
}

.detail {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border: 1px solid var(--neutral-placeholder);
  padding: 20px;

  & > p {
    background-color: var(--base);
    padding: 7px;
    height: 100%;
    flex-grow: 1;
    text-align: center;
    margin-left: 15px;
  }

}
